{% extends "home_base.html" %}


{% block content %}
<style type="text/css">
  body {
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .form-signin {
    max-width: 800px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-control {
    font-size: 16px;
    height: auto;
    margin-bottom: 0px;
  }

</style>

<div class="col-md-10 col-md-offset-1" style="padding-top:20px;">
	<div class="well well-sm">
		<div style="padding-right:80px">
		<form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'edit_profile' %}" class="form-group">
			<h2 style="text-align:center; padding-left:100px;">Edit profile</h2>
			
			<div class="form-group">
				<label class="col-md-3 control-label">Portrait</label>
				<div class="col-md-3"> {{ form.id_photo }}</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Backgroud Image</label>
				<div class="col-md-3"> {{ form.bg_pic }}</div>
			</div>
			<div class="form-group">
				<label class="col-md-3 control-label">Backgroud Music</label>
				<div class="col-md-3"> {{ form.music_id }}</div>
			</div>
			<div class="form-group">
				<div class="col-md-12 text-center" style="padding-left : 100px">
					<input type="submit" value="Submit" class="btn btn-lg btn-primary"/>
				</div>
			</div>
		{% csrf_token %}
		</form>
		</div>
	</div>
</div>

{% endblock %}