{% extends "home_base.html" %}

{% block header %}
{% load staticfiles %}
<!--
	<script type="text/javascript">
	$(document).ready(function(){
		$(".scene_cover").hover(
			function(){
				$("p").text("rcyrcyrcy");
			},function(){
				$("p").text("");
		});
	});
	function makevisible(cur,which){
		if (which==0)
			cur.filters.alpha.opacity=100
		else
			cur.filter.alpha.opacity=20
	}
	</script>
	<link rel="stylesheet" type="text/css" href="{% static "scene.css" %}">
	-->
<script>
$(document).ready(function(){
 $(".scene_container").mouseenter(function(){
   $(this).find("img").css("opacity","0.4");
   $(this).find("span").css("opacity","1.0");
   $(this).find("p").css("color","black");
   }); 
 $(".scene_container").mouseleave(function(){
   $(this).find("img").css("opacity","1.0");
   $(this).find("span").css("opacity","0.0");
   $(this).find("p").css("color","white");
   }); 
});
</script>
{% endblock %}

{% block content %}
<a class="create_scene" href="{% url 'create_scene' %}">Create scene</a>

	<div class="scene_area">
	{% for scene in scenes %}
		<div class= "scene_container">
		<center>
		<a href="{% url 'scene_home' scene.id %}"><img class="scene_image" src="{% url 'get_photo' user.username scene.id 1 %}" > </a>
		</center>
		<p class="scene_text">{{scene.title}}</p>
		<span class="scene_content">{{scene.description}}</span>
	</div>
{% endfor %}
</div>
{% endblock %}
