{% extends "base.html" %} {% block content %}
<div class="container">

    <form action="{% url 'login' %}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <!--
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        -->
        <p style="color:red">{{error}}</p>

        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
                <td><span style="color:red">{{ form.username.errors }}</span>
                </td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
                <td><span style="color:red">{{ form.password.errors }}</span>
                </td>
            </tr>
        </table>
        <!--
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="{% url 'register' %}" class="btn btn-lg btn-primary btn-block">Register</a>
        <a href="{% url 'home' %}" class="btn btn-lg btn-primary btn-block">Sign in as guest</a>
        {% csrf_token %}
    </form>

</div>
<!-- /container -->
{% endblock %}
