<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}
    <title>RemiScene</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/cufon-yui.js"></script>
    <script type="text/javascript" src="../static/js/arial.js"></script>
    <script type="text/javascript" src="../static/js/cuf_run.js"></script>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { 
        width: 60%;
        height: 600px; 
        margin:auto;
        padding-bottom: 20px;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZSWHRKqyMc9_0-NZuHCNVHxyvQGHTOhk&sensor=true">
    </script>
    <script type="text/javascript" src="{% static 'js/markerclusterer.js' %}"></script>
    <script type="text/javascript">
      var geocoder;
      google.maps.event.addDomListener(window, 'load', function(){ getLocation(); });

      function addInfoWindow(marker, content) {
        var infowindow = new google.maps.InfoWindow({
            content: content,
            maxWidth: 200
          });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
          });
      }

      function randomInRange(min, max) {
        return Math.random() < 0.5 ? ((1-Math.random()) * (max-min) + min) : (Math.random() * (max-min) + min);
      }

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        }
      }

      function showPosition(position) {
        lat = position.coords.latitude;
        lng = position.coords.longitude;
        var mapOptions = {
          center: new google.maps.LatLng(lat, lng),
          zoom: 6
        };

        // Create the map
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        geocoder = new google.maps.Geocoder();
        var markers = [];
        {% for scene in scenes %}
          geocoder.geocode( {'address': "{{scene.loc}}"}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
                });
                var contentString = '<div><p>{{ scene.title }}</p>' + /*'<p>{{ scene.description }}</p>' +*/ "<a href = \"" + "{% url 'scene_home' scene.id %}" +"\">" + 'Go to scene</a></div>';
                addInfoWindow(marker, contentString);

                markers.push(marker);
              }
          });
        {% endfor %}
        var markerCluster = new MarkerClusterer(map, markers);
      }
    </script>
</head>

<body>
    <div class="main" style="padding-bottom:50px">
        <div class="main_resize">
            <!-- header -->
            <div class="header">
                <div class="logo">
                    <h1><span>Remi</span>Scene<small></small></h1>
                </div>
                <div class="search">
                    <form method="post" id="search" action="{% url 'search_people' %}">
                        <span>
              <input type="text" value="Search People..." name="name" id="s" />
                            {% csrf_token %}
              <input name="searchsubmit" type="image" src="{% static 'images/search.gif' %}" value="Go" id="searchsubmit" class="btn" style="height:27px" />
                            {% csrf_token %}
            </span>
                        {% csrf_token %}
                    </form>
                    <div class="clr"></div>
                </div>
                <div class="menu_nav">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a>
                        </li>
                        <li><a href="{% url 'search_friend' %}">Friends</a>
                        </li>
                        <li><a href="{% url 'map_home' %}">Map</a>
                        </li>
                        <li><a href="{% url 'all_scenes' %}">All Scenes</a>
                        </li>
                        <li><a href="{% url 'message' %}">Message</a>
                        </li>
                        <li><a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- content -->
            
        </div>
    <div class="text-center" style="margin-top:-10px; padding-bottom:10px">
      <h2>Scenes Around You:</h2>
    </div>
    <div id="map-canvas" /></div>
    </div >

    
</body>

</html>
