{% extends "home_base.html" %} 
{% block header %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "scene.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "triangle.css" %}">
	<script type="text/javascript" src="{% static "layer/layer.js" %}"></script>
	<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>

	<style type="text/css">
	.main {
		padding:0;
		margin:0;
		background: url(images/colorChangeBg.jpg) repeat-x center;
	}

	.scene_description {
	float:middle;
	margin-top: 50px;
	height:auto;
	margin-right: 250px;
	margin-left: 250px;
	position:relative;
	background-color: white;
	border-radius: 10px;
	opacity: 0.5;
	box-shadow: 0 0 50px white;
	padding: 20px;
	}

	.person_scene_block {
		width: 920px;
		height:auto;
		background-color: white;
		padding-bottom: 200px;
		
	}

	.sddate {
		background-image: url(../../static/images/bgflower.jpg); 
	}

	.sdparty {
		background-image: url(../../static/images/bgparty.jpg); 
	}

</style>
	<script type="text/javascript">
	//var tag = {{scene.tag}};
	// if (tag.equals("date")) {
	// 	document.getElementsByClassName("person_scene_block").style.background-image="../../static/images/bgflower.jpg";
	// } else if (tag.equals("party")) {
	// 	document.getElementsByClassName("person_scene_block").style.background-image="../../static/images/bgparty.png";
	// }

	function func(aa){
		//var layer = $.layer({});
		//layer.msg("asfasdf");
		var i = $.layer({
				    type : 1,
				    title : false,
				    fix : false,
				    //offset:['150px' , '520px'],
				    offset:['50%','50%'],
				    area : ['1000px','800px'],
				    closeBtn : [0,false],
				    page : {dom : '#'+aa},
				    shade : [0.5 , '#000' , true],
				    shadeClose : true
				});
		/*
		$('.xubox_main').dblclick(function(){
			layer.close(i);
		});*/
	}
	$(document).ready(function(){
		console.log("rcy");
		var list = $("p.essay").toArray();
		for (var i = 0; i < list.length; i++) {
			console.log("rcyrcy");
			var str = list[i].innerHTML.trim().substr(0,80);
			console.log(str);
			list[i].innerHTML = str;
		}
		//var tag = "{{scene.tag}}";
		console.log("rcy");
		//console.log({{scene.tag}});
		if ("{{scene.tag}}"=="party") {
			$(".person_scene_block").css("background-image","url(../../static/images/bgparty.png)");
			//rcy.className = "person_scene_block sddate";
			//rcy.style = "background-image: url(../../static/images/bgparty.png);";
		} else if ("{{scene.tag}}"=="date") {
			$(".person_scene_block").css("background-image","url(../../static/images/bgflower.jpg)");
		} else if ("{{scene.tag}}"=="study") {
			$(".person_scene_block").css("background-image","url(../../static/images/bgstudy.png)");
		} else {
			$(".person_scene_block").css("background-image","url(../../static/images/bghangout.jpg)");
		}

	});

/*
	$(document).ready(function(){
	 $(".scene_container").mouseenter(function(){
	   $(this).find("img").css("opacity","0.4");
	   $(this).find("span").css("opacity","1.0");
	   $(this).find("p").css("color","black");
	   }); 
	 $(".scene_container").mouseleave(function(){
	   $(this).find("img").css("opacity","1.0");
	   $(this).find("span").css("opacity","0.0");
	   $(this).find("p").css("color","white");
	   }); 
	});
*/


	function get_photo(person_scene_id,type,length) {
		var person_scene = document.getElementById(person_scene_id);
		var leftupbar = person_scene.getElementsByClassName("leftupbar")[0];
		var index_div = leftupbar.getElementsByClassName("photo_index")[0];
		var index = parseInt(index_div.innerHTML);
		var image = leftupbar.getElementsByTagName("img")[0];
		//var str1 = "{% url 'get_photo_person' ";
		//var str2 = person_scene_id+" "+index+" "+type+" %}";
		//console.log(str1+str2)
		image.src = "/get_photo_person/"+person_scene_id+"/"+index+"/"+type

		if(type == 0) {

		} else if (type == 1) {
			if (index == length -1) {
				index = 0;
			} else {
				index++;
			}
		} else if (type == 2) {
			if (index == 0) {
				index = length - 1;
			} else {
				index--;
			}
		}
		index_div.innerHTML = index;
	}

	</script>

{% endblock %}

{% block content %}


<div class="person_scene_block">
	<div class="scene_description">
		<h2> {{scene.title}}</h2>
		<p>{{scene.description}}</p>
	</div><br>
<!--
	{% if scene.tag == "date" %}
	<div class="scene_description sddate">
		<h2> {{scene.title}}</h2>
		<p>{{scene.description}}</p>
	</div>
	{% else %}
		<div class="scene_description sdparty">
			<h2> {{scene.title}}</h2>
			<p>{{scene.description}}</p>
		</div>
	{% endif %}
-->
	<div>
	{% for person_scene in person_scenes %} 
		{% if forloop.counter|divisibleby:2 %}
		<div class="row" style="padding-bottom:50px">
			<div class="rightsidebar">
				<img src="{% url 'get_photo' person_scene.user.username 1 0%}">
			</div>

			<div class="mainbar" >
				<div class="rightoval-thought" onclick="func({{person_scene.id}})" style="height:180px">
						<p class="essay">
				    	{{person_scene.essay}}
				    	</p>
				</div>
				
			</div>
		</div>
		{% else %}
		<div class="row" style="padding-bottom:50px">
			<div class="leftsidebar">
				<img src="{% url 'get_photo' person_scene.user.username 1 0%}">
			</div>

			<div class="mainbar" >
				<!--<a href="{% url 'edit_person_scene' person_scene.id %}">-->
				<div class="leftoval-thought" onclick="func({{person_scene.id}})" style="height:180px">
						<p class="essay">
				    	{{person_scene.essay}}
				    	</p>
				</div>
				
			</div>
		</div>

		{% endif %}
	{% endfor %}
	</div>
{% endblock %}

{% block hidden %}
{% for person_scene in person_scenes %}
			<div id="{{person_scene.id}}" style="display:none; min-height:50px;" class="person_window">
		    	<div class="rightupbar">
		    		<div class="clr"></div>
		    		{{person_scene.essay}}
		    		
		    	</div>
		    	
		    	<div class="leftupbar">
		    		<div class="center">
		    			<img src="{% url 'get_photo_person' person_scene.id 0 0 %}" class="center">
		    		</div>
		    		<button onclick="get_photo({{person_scene.id}},1,{{person_scene.photo_num}})" class="right">&gt;</button>
		    		<button onclick="get_photo({{person_scene.id}},2,{{person_scene.photo_num}})" class="left">&lt;</button>
		    		
		    		<div class="photo_index" hidden='true'>0</div>
		    	</div>
		    	

		    	
		    	<div class="leftbottombar">
		    	{% if person_scene.music_loc %}
		    	
		    		<audio controls="controls" >
					  <source src="{% url 'get_music' 1 person_scene.id 2%}" type="audio/mp3" />
						<embed height="100" width="100" src="{% url 'get_music' 1 person_scene.id 2%}" />
					</audio>
				
				{% endif %}
				</div>
				

				<div class="rightbottombar">
				{% if user.id == person_scene.user.id %}
					<a href="{% url 'edit_person_scene' person_scene.id %}" class="btn btn-primary">edit</a>
				{% endif %}
				</div>
		    	
		    </div>
		    {% endfor %}
</div>
{% endblock %}