{% extends "home_base.html" %} 
{% block header %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "scene.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "triangle.css" %}">
{% endblock %}

{% block content %}
	{% for person_scene in person_scenes %}
	<div class="sidebar">
		<img src="{% url 'get_photo' person_scene.user.username 1 0%}">
	</div>

	<div class="rightbar">
		<a href="{% url 'edit_person_scene' person_scene.id %}">
		<div class="triangle-border left">
			<div>
		    	{{person_scene.essay}}
		    </div>
		    <div>
		    	{% if person_scene.photo_loc %}
		    		<img src="{% url 'get_photo' 1 person_scene.id 2 %}">
		    	{% endif %}

		    	{% if person_scene.music_loc %}
		    		<embed src="{% url 'get_music' 1 person_scene.id 2%}" width="200" height="200">
		    	{% endif %}
		    </div>
		</div>
		</a>
	</div>
	{% endfor %}
{% endblock %}