.scene_cover {
    /*
	padding: 20px;
	margin: 20px;
	*/
}
.scene_cover img {
    width:923px;
    height:310px;
    overflow:hidden;
    display:block;
}
.scene_cover img:hover {
    opacity:0.1;
}
.scene_cover p {
    position: absolute;
    font:normal 50px/1.8em Arial, Helvetica, sans-serif;
    margin-left:auto;
    margin-right:auto;
    width:168px;
    bottom: 155px;
    z-index:1000;
}

.scene_person {
    width:923px;
    height: 300px;
    margin: auto;
}

.rightbar {
    margin:0;
    padding:0;
    float:right;
    width:638px;
}
.leftbar {
    margin:0;
    padding:0;
    float:left;
    width:638px;
}

.person_window {
    width: 1000px;
    height: 800px;
    overflow: visible;
}
.person_window .rightupbar{
    float: right;
    right: 0px;
    top: 0px;
    height: 700px;
    width: 333px;
    margin: 0px;
    font-size: 20px;
    padding: 10px;
    font-family: monospace;
}

.person_window .rightbottombar{
    float: right;
    right: 0px;
    bottom: 0px;
    height: 100px;
    width: 333px;
    margin: 0px;

}

.person_window .leftupbar{
    position: relative;
    float: left;
    left: 0px;
    top:0px;
    height: 700px;
    width: 666px;
    margin: 0px;
    background-color: #C0C0C0;
}

.person_window .leftupbar img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}

.person_window button {
    background-color: transparent;
    border-color:transparent;
    border-style:none;
    font-size: 20px;
}

.person_window .leftupbar .right{
    position: absolute;
    right:0;
    height: 700px;
    width: 100px;
    margin: 0px;
    z-index: 500;
    opacity:0.0;
}
.person_window .leftupbar .right:hover {
    opacity:1.0;
}

.person_window .leftupbar .left{
    position: absolute;
    left:0;
    height: 700px;
    width: 100px;
    margin: 0px;
    z-index: 500;
    opacity:0.0;
}

.person_window .leftupbar .left:hover {
    opacity:1.0;
}


.person_window .leftbottombar{
    position: relative;
    float: left;
    left: 0px;
    bottom:0px;
    height: 100px;
    width: 666px;
    margin: 0;
}

.person_window .leftbottombar .audio{
    position: relative;
}

.person_window .leftbottombar audio{
    width: 50%;
    height: 50%;
    overflow: auto;
    margin:auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.essay {
    font-family: monospace;
    font-size: 20px;
}