.scene {/*
	padding: 20px;
	margin: 20px;
	*/
}

.scene img {
	width:923px;
	height:310px;
	overflow:hidden;
	display:block;
}

.scene img:hover{
	opacity:0.1;
}

.scene p {
	position: absolute;
	font:normal 50px/1.8em Arial, Helvetica, sans-serif;
	margin-left:auto;  
	margin-right:auto;  
	width:168px; 
	bottom: 155px;
	z-index:1000;
}