.scene_cover {
    /*
	padding: 20px;
	margin: 20px;
	*/
}
.scene_cover img {
    width:923px;
    height:310px;
    overflow:hidden;
    display:block;
}
.scene_cover img:hover {
    opacity:0.1;
}
.scene_cover p {
    position: absolute;
    font:normal 50px/1.8em Arial, Helvetica, sans-serif;
    margin-left:auto;
    margin-right:auto;
    width:168px;
    bottom: 155px;
    z-index:1000;
}

.scene_person {
    width:923px;
    height: 300px;
    margin: auto;
}

.rightbar {
    margin:0;
    padding:0;
    float:right;
    width:638px;
}
.leftbar {
    margin:0;
    padding:0;
    float:left;
    width:638px;
}

.bubble_diailog {
    position: relative;
    background: #ffc;
    border:1px solid #ccc;
    border-radius: 3px;
    margin:0 auto;
    height:50px;
    width:923px;
}
.bubble_diailog i, .bubble_diailog b {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width:5px;
    display:block;
}
/*上*/
 .bubble_diailog i.t, .bubble_diailog b.t {
    border-style: dashed dashed solid dashed;
}
.bubble_diailog i.t {
    top:-10px;
    left:30px;
    border-color:transparent transparent #ccc transparent;
}
.bubble_diailog b.t {
    top:-9px;
    left:30px;
    border-color:transparent transparent #ffc transparent;
}
/*下*/
 .bubble_diailog i.b, .bubble_diailog b.b {
    border-style:solid dashed dashed dashed;
}
.bubble_diailog i.b {
    bottom:-10px;
    left:30px;
    border-color:#ccc transparent transparent transparent;
}
.bubble_diailog b.b {
    bottom:-9px;
    left:30px;
    border-color:#ffc transparent transparent transparent;
}
/*左*/
 .bubble_diailog i.l, .bubble_diailog b.l {
    border-style:dashed solid dashed dashed;
}
.bubble_diailog i.l {
    top:29px;
    left:-10px;
    border-color:transparent #ccc transparent transparent;
}
.bubble_diailog b.l {
    top:29px;
    left:-9px;
    border-color:transparent #ffc transparent transparent;
}
/*右*/
 .bubble_diailog i.r, .bubble_diailog b.r {
    border-style:dashed dashed dashed solid;
}
.bubble_diailog i.r {
    top:29px;
    right:-10px;
    border-color:transparent transparent transparent #ccc;
}
.bubble_diailog b.r {
    top:29px;
    right:-9px;
    border-color:transparent transparent transparent #ffc;
}
20 .size_1 {
    width: 200px;
    height: 80px;
}
23
/**
 * IE ARGB背景半透明滤镜溢出隐藏bug
 * http://himeters.com/ie-argb-overflowhidden-bug
*/
 .bubble_opacity {
    border-radius: 3px;
    margin:-40px 0 0 20px;
    font-size:14px;
    background-color:rgba(0, 0, 0, .8);
    position:relative;
}
.bubble_opacity, .bubble_opacity .in {
    width:200px;
    height:80px;
}
.bubble_opacity .in {
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr="#CC000000", endcolorstr="#CC000000");
}
.bubble_opacity i {
    overflow:hidden;
    display:block;
    height:0;
    width:0;
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #000 transparent;
    position:absolute;
    top:-10px;
    left:30px;
    border-width:5px;
    opacity: .8;
    filter:alpha(opacity=80);
}
.bubble_opacity p {
    padding:20px 0 0 20px;
    color:#fff;
}
