<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}
    <title>RemiScene</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="../static/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/cufon-yui.js"></script>
    <script type="text/javascript" src="../static/js/arial.js"></script>
    <script type="text/javascript" src="../static/js/cuf_run.js"></script>
    {% block header %} {% endblock %}
</head>

<body>
    <div class="main">
        <div class="main_resize">
            <!-- header -->
            <div class="header">
                <div class="logo">
                    <h1><span>Remi</span>Scene<small></small></h1>
                </div>
                <div class="search">
                    <form method="get" id="search" action="#">
                        <span>
							<input type="text" value="Search..." name="s" id="s" />
							<input name="searchsubmit" type="image" src="../static/images/search.gif" value="Go" id="searchsubmit" class="btn"  />
							</span>
                    </form>
                    <div class="clr"></div>
                </div>
                <div class="menu_nav">
                    <ul>
                        <li class="active"><a href="index.html">Home</a>
                        </li>
                        <li><a href="support.html">Support</a>
                        </li>
                        <li><a href="about.html">About Us</a>
                        </li>
                        <li><a href="blog.html">Blog</a>
                        </li>
                        <li><a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div id="cover">
                    <div id="cover_image">
                        {% block cover_image %}
                        <img src="../static/images/header_images.jpg" width="923" height="645" alt="" /> 
                        {% endblock %}
                    </div>
                    {% block head_portrait%}
                    {% endblock %}
                </div>
            </div>
            <!-- content -->
            <div class="content">
                {% block content%}
                <div class="content_bg">
                    {% block mainbar%}
                    <div class="mainbar">
                    </div>
                    {% endblock %} {% block sidebar%}
                    <div class="sidebar">
                    </div>
                    {% endblock %}
                </div>
                {% endblock%}
            </div>
        </div>
    </div>
</body>

</html>
