<!DOCTYPE html>
<html>
<head>
	<title>RemiScene</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="main">
		<div class="main_resize">
		<!-- header -->
			<div class="header">

				<div class="logo">
					<h1><span>Remi</span><small>Scene</small></h1>
				</div>

				<div class="search">
					<form method="get" id="search" action="#">
						<span>
						<input type="text" value="Search..." name="s" id="s" />
						<input name="searchsubmit" type="image" src="images/search.gif" value="Go" id="searchsubmit" class="btn"  />
						</span>
					</form>
					<div class="clr"></div>
				</div>


				<div class="menu_nav">
					<ul>
	                    <li class="active"><a href="index.html">Home</a>
	                    </li>
	                    <li><a href="support.html">Support</a>
	                    </li>
	                    <li><a href="about.html">About Us</a>
	                    </li>
	                    <li><a href="blog.html">Blog</a>
	                    </li>
	                    <li><a href="contact.html">Contact Us</a>
	                    </li>
	                </ul>
				</div>

				<div class="hbg">
					<img src="/home/tony/Picture/h_large_2Bus_174e000013e6113e.jpg" width="923" height="291" alt="" />
				</div>
			</div>

			<!-- content -->
			<div class="content">
				<div class="content_bg">
					<div class="mainbar">
					</div>

					<div class="sidebar">
						
					</div>
				</div>
			</div>



		</div>
	</div>

</body>

</html>