<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}
    <title>RemiScene</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/cufon-yui.js"></script>
    <script type="text/javascript" src="../static/js/arial.js"></script>
    <script type="text/javascript" src="../static/js/cuf_run.js"></script>
    {% block header %} {% endblock %}
</head>

<body>
    <div class="main">
        <div class="main_resize">
            <!-- header -->
            <div class="header">
                <div class="logo">
                    <h1><span>Remi</span>Scene<small></small></h1>
                </div>
                <div class="search">
                    <form method="post" id="search" action="{% url 'search_people' %}">
                        <span>
							<input type="text" value="Search People..." name="name" id="s" />
                            {% csrf_token %}
							<input name="searchsubmit" type="image" src="{% static 'images/search.gif' %}" value="Go" id="searchsubmit" class="btn"  />
                            {% csrf_token %}
						</span>
                        {% csrf_token %}
                    </form>
                    <div class="clr"></div>
                </div>
                <div class="menu_nav">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}">Home</a>
                        </li>
                        <li><a href="{% url 'search_friend' %}">Friends</a>
                        </li>
                        <li><a href="{% url 'map_home' %}">Map</a>
                        </li>
                        <li><a href="{% url 'all_scenes' %}">All Scenes</a>
                        </li>
                        <li><a href="{% url 'message' %}">Message</a>
                        </li>
                        <li><a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
                <div id="cover">
                    <div id="cover_image">
                        {% block cover_image %}
                        <img src="{% static 'images/header_images.jpg' %}" width="923" height="645" alt="" /> 
                        {% endblock %}
                    </div>
                    {% block head_portrait%}
                    {% endblock %}
                </div>
            </div>
            <!-- content -->
            <div class="content">
                {% block content%}
                <div class="content_bg">
                    {% block mainbar%}
                    <div class="mainbar">
                    </div>
                    {% endblock %} {% block sidebar%}
                    <div class="sidebar">
                    </div>
                    {% endblock %}
                </div>
                {% endblock%}
            </div>

            <div id="rcy">
                {% block hidden %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
